h3
  {
    font-size: 25px !important;
  }
  canvas {
    border:2px dashed black;
  }

@keyframes NAY{
    from{box-shadow: 1px 1px 38px rgb(224, 31, 166);}
    to{box-shadow: 1px 1px 38px rgb(52, 185, 247);}
    
}